@use '~shared/styles/variables.scss' as *;

#songs_view {
    $music-size: 600px;

    .card-body {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        overflow: scroll;
        padding-top: 40px;
    }

    .music {
        flex: 0 0 $music-size;

        .music_video_wrap {
            width: $music-size;
            height: calc($music-size * (9 / 16) * 1.1);
            position: relative;
            top: 0;

            .hide {
                .shadow {
                    opacity: 0;
                }
            }
        }

        .music_video {
            width: $music-size;
            aspect-ratio: 16/9;
            position: absolute;
            pointer-events: none;
            overflow: hidden;
            border-radius: 15px;

            .iframe-container {
                position: relative;
                padding-bottom: 56.25%;
                width: 500%;
                left: -200%;
                background: transparent;
                border: 0;

                iframe {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 0;

                    border-radius: 5px;
                }
            }

            &.shadow {
                width: calc($music-size * 0.9);
                top: 12.5%;
                left: 50%;
                transform: translate(-50%, 0);
                filter: blur(10px);
            }
        }

        .music_img_wrap {
            width: $music-size;
            aspect-ratio: 16/9;
            position: relative;
            display: flex;
            align-items: center;
            transition: opacity 0.3s;
            justify-content: center;
            border-radius: 15px;

            .music_img {
                height: 100%;
                background: #343a40;
                position: absolute;
                border-radius: 15px;

                &.shadow {
                    height: 90%;
                    margin-top: 10%;
                    filter: blur(10px);
                }
            }

            &.playing {
                opacity: 0;
            }
        }

        .canvas_wrap {
            width: $music-size;
            aspect-ratio: 16/9;
            background: transparent;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .music_button {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .edit_button {
                padding-block: 1px;
                padding-inline: 10px;
                border-radius: 15px;

                span::after {
                    content: ' 편집하기';
                }
            }

            .vote_button {
                padding-block: 1px;
                padding-inline: 10px;
                border-radius: 15px;

                span::after {
                    content: ' 투표하기';
                }

                &.voted {
                    background: #343a40;
                    color: #fff;

                    span::after {
                        content: ' 투표 완료';
                    }
                }
            }
        }

        .music_info {
            width: $music-size;
            margin-top: 20px;
            position: relative;

            .music_infoBox {
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                text-align: center;
                border-radius: 5px;
            }

            .music_title {
                width: 80%;
                height: 2rem;
                font-size: 1.5rem;
                font-weight: 600;
            }

            .music_artist {
                width: 100%;
                height: 1.5rem;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 0.5rem;
                border-radius: 5px;
            }
        }

        &.empty {
            .music_img_wrap {
                background: #d8d8d8;
            }

            .music_info {
                .music_title {
                    width: 200px;
                    background: rgba(#343a40, 0.2);
                }

                .music_artist {
                    width: 100px;
                    background: rgba(#343a40, 0.1);
                }
            }

            .music_play {
                pointer-events: none;
            }

            .music_button {
                pointer-events: none;
            }
        }

        .music_play {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;

            .play_slider {
                flex-basis: 80%;
                margin-top: 30px;
                display: flex;
                justify-content: center;

                .progress_bar {
                    width: 100%;
                    height: 10px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(0.9);
                    }
                }

                .music_time {
                    width: max-content;
                    margin-top: 5px;
                    position: relative;

                    span {
                        font-size: 0.8rem;
                        color: #343a40;
                    }

                    &.current_time {
                        transform: translate(100%, 0);
                    }

                    &.end_time {
                        transform: translate(-100%, 0);
                    }
                }
            }

            .play_button {
                flex-basis: 30%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                .music_button {
                    cursor: pointer;
                    color: #343a40;
                    transition: filter 0.15s;

                    span {
                        font-size: 1.5rem;
                    }

                    &.playpause_button {
                        span {
                            font-size: 2rem;
                        }
                    }

                    &:hover {
                        filter: drop-shadow(0 5px 1px rgba(#343a40, 0.5));
                    }

                    &.disabled {
                        color: rgba(#343a40, 0.3);
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .music_selector {
        width: 500px;
        height: 100%;
        padding-inline: 10px;

        .week_selector {
            width: 300px;

            .week {
                width: max-content;
                margin: 0;
                margin-left: 5px;
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;
                border-bottom: 1.5px solid #343a40;

                span {
                    font-size: 1rem;
                    font-weight: 400;

                    &.button {
                        font-size: 1.2rem;
                    }
                }
            }

            .dropdown_menu {
                width: 320px;
                margin-top: 5px;
                text-align: center;

                filter: drop-shadow(0 5px 5px rgba(#343a40, 0.5));

                a {
                    padding-block: 5px;

                    &.current {
                        background: rgba(#343a40, 0.1);
                    }

                    &.target {
                        background: #343a40;
                        color: #fff;
                    }
                }

                .month_select {
                    padding-block: 5px;
                    font-size: 1.1rem;
                    font-weight: bold;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;

                    .month_pass {
                        width: 30px;
                        height: 30px;
                        position: relative;
                        margin-inline: 10px;
                        cursor: pointer;

                        &::after,
                        &::before {
                            content: '';
                            width: 10px;
                            height: 2px;
                            background: #343a40;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &::before {
                            transform: translate(-50%, -50%) rotate(-45deg);
                            margin-top: -3.5px;
                        }

                        &::after {
                            transform: translate(-50%, -50%) rotate(45deg);
                            margin-top: 3.5px;
                        }

                        &.month_next {
                            &::before {
                                transform: translate(-50%, -50%) rotate(45deg);
                            }

                            &::after {
                                transform: translate(-50%, -50%) rotate(-45deg);
                            }
                        }

                        &.disabled {
                            pointer-events: none;

                            &::after,
                            &::before {
                                background: #999;
                            }
                        }
                    }
                }
            }
        }

        .playlist {
            width: 100%;

            .tableWrapper {
                .tableContent {
                    height: calc(60px * 10);
                }

                thead,
                tbody {
                    th,
                    td {
                        background: transparent;
                        border: 0;
                    }

                    tr {
                        background: transparent;
                        cursor: pointer;

                        td {
                            border-bottom: 1px solid #343a40;
                            padding-block: 7.5px;
                            transition: background-color 0.2s;

                            &:nth-child(1) {
                                width: 40px;
                                min-width: 40px;
                                padding-inline: 0;
                            }

                            &:nth-child(2) {
                                width: 400px !important;
                                max-width: 400px;
                                min-width: 400px;
                                white-space: nowrap; // 한 줄로 유지
                                overflow: hidden; // 넘치면 잘림
                            }
                        }

                        &:nth-last-child(1) td {
                            border: 0;
                        }

                        &:nth-child(1) td {
                            border-bottom: 1px solid #343a40;
                        }

                        &:hover td {
                            background: rgba(#343a40, 0.1);
                        }

                        &.highlighted-row td {
                            background: rgba(#343a40, 0.1);
                        }
                    }
                }

                th {
                    display: none;
                }

                .songTitle {
                    text-align: left;
                    padding-left: 10px;

                    .title_wrapper {
                        margin: 0;

                        .song_title_text {
                            font-size: 0.8rem;
                            display: block;

                            &.song_title {
                                font-size: 1rem;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .rank {
                    padding-inline: 15px;
                }

                .voted {
                    padding-inline: 10px;

                    span {
                        width: 20px;
                        height: 20px;
                        display: block;
                        border: 2px solid #343a40;
                        border-radius: 5px;
                        transition: all 0.2s;
                        position: relative;

                        &:hover {
                            background: rgba(#343a40, 0.2);
                        }

                        &.selected {
                            background: #343a40;

                            &::before,
                            &::after {
                                content: '';
                                height: 2px;
                                background: #fff;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                            }

                            &::before {
                                width: 5px;
                                transform: translate(-50%, -50%) rotate(45deg);
                                margin-left: -3.5px;
                                margin-top: 1px;
                            }

                            &::after {
                                width: 10px;
                                transform: translate(-50%, -50%) rotate(135deg);
                                margin-left: 2px;
                            }
                        }
                    }
                }
            }
        }
    }

    .marquee-wrapper {
        width: 100%;
        overflow: clip;
        white-space: nowrap;
        position: relative;
    }

    .marquee-content {
        width: max-content;
        display: flex;
        white-space: nowrap;
        animation: marquee 20s 4s infinite ease-in-out;

        span {
            margin-right: 30px;
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        80% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(-50%); /* 같은 위치에서 멈춤 */
        }
    }

    .normal-text {
        white-space: nowrap;
        display: inline-block;
    }
}
